/results/
/results/*
/MA_Testdaten/
/MA_Testdaten/*
/S&P_500_Index_Data.csv
/output/
/nonpublic/
/nonpublic/*
/nonpublic/client_secret_677280239650-bth6dohvi1f6hmhkmceu4kgjis8kinjt.apps.googleusercontent.com.json
/nonpublic/Notification_module.py
